<header class="header">
  <div class="container">
    <div class="row">
      <a class="logo" href="{{BASE}}">
        <img src="{{BASE}}assets/img/logo.png" alt="By Benovitch" />
        <div>
          <div class="title">Playlists by Benovitch</div>
          <div class="subtitle">La vitrine éditoriale du réseau Artist by Benovitch</div>
        </div>
      </a>

      <div class="localnav">
  <a class="btn navlink" data-nav="home" href="{{BASE}}">Home</a>
  <a class="btn navlink" data-nav="playlists" href="{{BASE}}#playlists">Playlists</a>
  <a class="btn navlink" data-nav="discover" href="{{BASE}}discover/">Discover</a>
  <a class="btn navlink" data-nav="fans" href="{{BASE}}fans/">Fans</a>
  <a class="btn navlink" data-nav="artistes" href="{{BASE}}artistes/">Artistes</a>
  <a class="btn primary" href="{{BASE}}newsletter/">Newsletter</a>
</div>

    </div>
  </div>
</header>
